<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const sum = ref(0);
const selectedProduct: any = ref([]);

function add(item: { name: string; price: number }) {
  selectedProduct.value.push(item);
  sum.value += item.price;
}
</script>
<template>
  <v-container>
    <v-row class="my-1">
      <v-col style="overflow-y: scroll; height: 700px">
        <v-row>
          <v-col cols="4" v-for="(item, index) of products" :key="index">
            <v-card class="mx-auto" style="text-align: center" height="150px">
              <v-card-title>{{ item.name }}</v-card-title>
              <div>{{ item.price }}</div>
              <v-btn @click="add(item)">Add</v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col class="mx-16">
        <v-table height="600px">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                colspan="3"
                v-if="!selectedProduct.length"
                style="text-align: center; font-weight: bold"
              >
                NO Data
              </td>
            </tr>
            <tr v-for="(item, index) of selectedProduct" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <div style="font-size: 300%">Sum: {{ sum }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
