<script lang="ts" setup>
import { ref } from "vue";
const showImg = ref("./feeling_imgs/smile.png");
const msg = ref("Smile");

function angry() {
  msg.value = "Angry";
  showImg.value = "./feeling_imgs/angry.png";
}
function cute() {
  msg.value = "Cute";
  showImg.value = "./feeling_imgs/cute.png";
}
function excited() {
  msg.value = "Excited";
  showImg.value = "./feeling_imgs/excited.png";
}
function pain() {
  msg.value = "Pain";
  showImg.value = "./feeling_imgs/pain.png";
}
function shocked() {
  msg.value = "Shocked";
  showImg.value = "./feeling_imgs/shocked.png";
}
function smile() {
  msg.value = "Smile";
  showImg.value = "./feeling_imgs/smile.png";
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="showImg" class="img"></v-img>
      </v-col>
      <v-col>
        <v-row justify="center" style="font-size: 300%"> {{ msg }} </v-row>
        <v-row>
          <v-btn class="button" @click="angry">Angry</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="cute">Cute</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="excited">Excited</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="pain">Pain</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="shocked">Shocked</v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" @click="smile">Smile</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.button {
  margin-bottom: 20px;
  width: 100%;
}
.button:focus {
  background-color: yellow;
  margin-bottom: 20px;
  width: 100%;
}
.img {
  width: 360px;
}
</style>
