<script setup lang="ts">
import { ref } from "vue";
const num = ref(0);
const numList = ref<number[]>([]);

function calNum() {
  numList.value = [];
  for (let i = 1; i <= num.value; i++) {
    numList.value.push(i);
  }
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="mt-5">
        <v-text-field
          label="Please input number"
          v-model="num"
          :rules="[(v) => !!v || 'Number is not empty!!!']"
          @input="calNum()"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="1" v-for="(num, index) in numList" :key="index"
        ><v-card
          class="mx-9 mb-16 pb-16"
          variant="flat"
          style="font-weight: bold"
          >{{ num }}</v-card
        ></v-col
      >
    </v-row>
  </v-container>
</template>
